* {
  margin: 0px;
  padding: 0px; }

ul {
  list-style-type: none; }

body {
  background-color: ghostwhite; }

.header {
  background-image: url(../media/perro-t.jpg);
  height: max-content;
  background-size: cover;
  background-position: top; }
  .header-nosotros {
    height: max-content;
    background-size: cover;
    background-position: center;
    background-image: url(../media/gato-header.jpg); }
  .header-contacto {
    height: max-content;
    background-size: cover;
    background-position: center;
    background-image: url(../media/perro-t3.png); }
  .header-producto {
    height: max-content;
    background-size: cover;
    background-position: top;
    background-image: url(../media/perro-t4.png); }

#logo {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px; }

.jumbotron {
  background-color: unset;
  color: white;
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #343a40;
  color: white;
  font-family: 'Roboto', sans-serif; }

.slider {
  margin-top: 20px;
  margin-bottom: 20px; }

.promocion {
  padding: 0px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center; }
  .promocion-card {
    width: 16rem;
    transition: transform 1s;
    box-shadow: 2px 2px 3px #999; }
    @media only screen and (min-width: 360px) {
      .promocion-card {
        width: 10rem;
        margin-bottom: 5px; } }
    @media only screen and (min-width: 768px) {
      .promocion-card {
        width: 13rem; }
        .promocion-card-center {
          display: block ruby; } }
  .promocion-card:hover {
    transform: scale(1.1); }

.ubicacion {
  margin-bottom: 50px; }
  .ubicacion-text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; }
  .ubicacion-iframe {
    padding-bottom: 20px;
    padding-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center; }
  .ubicacion-cont {
    margin-top: 50px;
    margin-bottom: 50px; }

.footer {
  background-color: #343a40;
  font-family: 'Dancing Script', cursive;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer h3 {
    font-size: 30px; }
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer-social {
    display: flex;
    text-align: center;
    justify-content: center; }
    @media only screen and (min-width: 360px) {
      .footer-social {
        padding-top: 30px;
        padding-bottom: 30px; } }
  .footer-pago {
    display: flex;
    flex-direction: column;
    align-items: center; }

.contenedor {
  box-shadow: 10px 40px 40px #999; }
  .contenedor-item {
    margin-top: 30px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 1080px) {
      .contenedor-item:nth-of-type(3) {
        order: 2; }
      .contenedor-item:nth-of-type(4) {
        order: 1; }
      .contenedor-item:nth-of-type(7) {
        order: 4; }
      .contenedor-item:nth-of-type(8) {
        order: 3; } }
  .contenedor-boton {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor-boton a {
      margin-top: 40px;
      padding: 15px; }

.formulario {
  box-shadow: 5px 1px 5px #999;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px; }

.producto-card {
  width: 16rem; }
  @media only screen and (min-width: 360px) {
    .producto-card {
      width: 10rem;
      margin-bottom: 5px; } }
  @media only screen and (min-width: 768px) {
    .producto-card {
      width: 13rem; } }

.producto-back {
  background-image: url(../media/back.png);
  height: max-content;
  background-size: cover;
  background-position: center; }

.producto-titulo {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #343a40; }
  .producto-titulo h1 {
    margin-bottom: 10px;
    padding: 10px; }

.producto-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: white;
  font-family: 'Roboto', sans-serif; }
  .producto-categoria h4 {
    font-size: 30px;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .producto-categoria ul li a {
    font-size: 20px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em; }

.producto-lineas {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px; }
  .producto-lineas h5 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center; }
  .producto-lineas-img {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .producto-lineas-img li {
      margin: 5px; }
    @media only screen and (max-width: 1080px) {
      .producto-lineas-img {
        flex-direction: column;
        text-align: center; } }

.slider-letter h5 {
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 30px; }

.slider-letter p {
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 20px; }
