@mixin roboto-white {
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

@mixin dancing-white {
    font-family: 'Dancing Script', cursive;
    color:white;
}

@mixin roboto-black{
    font-family: 'Roboto', sans-serif;
    color: black;
}

@mixin dancing-black{
    font-family: 'Dancing Script', cursive;
    color:black;
}