@import "sizes";
@import "fonts";
@import "colors";
*{
    margin: 0px;
    padding: 0px;
    }
ul{
        list-style-type: none;
    }


body{
    background-color: ghostwhite;
}

@mixin header-style{
        height: max-content;
        background-size: cover;
        background-position:top;
    }

@mixin header-style-center{
    height: max-content;
        background-size: cover;
        background-position:center;
}

.header
    {
        background-image:url(../media/perro-t.jpg);
        @include header-style;
        
        &-nosotros{
        @include header-style-center;
        background-image: url(../media/gato-header.jpg);}
        
        &-contacto{
        @include header-style-center;
        background-image: url(../media/perro-t3.png);
        }
        &-producto{
        @include header-style;
        background-image: url(../media/perro-t4.png);
        }

    }



#logo{ 
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
    }

.jumbotron{
        background-color: unset;
        @include roboto-white;
    }
    
h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        background-color: #343a40;
        @include roboto-white;
        
}


.slider{
    margin-top: 20px;
    margin-bottom: 20px;
}

.promocion{
    padding: 0px;
    margin-bottom: 20px;
    @include flex-center-center;
    &-card{
            width: 16rem;
            @include phone{
                width: 10rem;
                margin-bottom: 5px;
            }
            @include tablet{
                width: 13rem;
                &-center{
                    display: block ruby;
                }
            }
            transition: transform 1s;
            box-shadow: 2px 2px 3px #999;
    }

    &-card:hover{
        transform: scale(1.1);}
}

.ubicacion{
    margin-bottom: 50px;
       
    &-text{
        @include flex-center-center;
        font-family: 'Roboto', sans-serif;
    }

    &-iframe{
        padding-bottom: 20px;
        padding-top: 40px;
        @include flex-center-center;
    }

    &-cont{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.footer{
    
    h3{font-size: 30px;}
    background-color:$colornav;
    @include dancing-white;
    padding-top: 50px;
    padding-bottom: 50px;
    
    &-logo{
        @include flex-column-center;
        }
    &-social{
        @include flex-center-center;
        @include phone{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    &-pago{
        @include flex-column-center;
    }

}


.contenedor{
    &-item{
        margin-top: 30px;
        margin-bottom: 30px;
        @include max-desktop{
            &:nth-of-type(3){order:2;}
            &:nth-of-type(4){order:1;}
            &:nth-of-type(7){order:4;}
            &:nth-of-type(8){order:3;}
            
    }}

    &-boton{
        @include flex-column-center;
        a{
            margin-top: 40px;
            padding: 15px;
        }
    }

    box-shadow: 10px 40px 40px #999;
    
    
   
    
}



.formulario{
    box-shadow:  5px 1px 5px #999;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.producto{
    
    &-card{
            width: 16rem;
            @include phone{
                width: 10rem;
                margin-bottom: 5px;
            }
            @include tablet{
                width: 13rem;
                }
    }

    &-back{
        background-image: url(../media/back.png);
        @include header-style-center;
    }

    &-titulo{
        text-align: center;
        @include roboto-white;
        background-color: $colornav;
             h1{
                 margin-bottom: 10px;
                 padding: 10px;
      }
    }

    &-categoria{
        @include flex-column-center;
        padding-top: 50px;
        @include roboto-white;
        h4{
            font-size: 30px;
            text-shadow: $sombreado;
        }
        ul li a{
             font-size: 20px;
             color: white;
             text-shadow: $sombreado;
                
        }
    }

    &-lineas{
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        
        h5{
            font-size: 30px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 10px;
            @include roboto-black;
            text-align: center;
        }
        
        &-img{
            @include flex-row-center;

            li{
                margin: 5px;
                 }
                        
            @include max-desktop{
                flex-direction: column;
                text-align: center;
            }
        }
        
    }
    



}

.slider-letter{
    h5 {
        text-shadow:$sombreado;
        font-size:30px;
                
    }
    
    p{
        text-shadow: $sombreado;
        font-size:20px;

    }

    
}




