@import "sizes";
@import "fonts";
*{
    margin: 0px;
    padding: 0px;
    }
ul{
        list-style-type: none;
    }


body{
    background-color: ghostwhite;
}

@mixin header-style{
        height: max-content;
        background-size: cover;
        background-position:top;
    }

@mixin header-style-center{
    height: max-content;
        background-size: cover;
        background-position:center;
}

.header
    {
        background-image:url(../media/perro-t.jpg);
        @include header-style;
        
        &-nosotros{
        @include header-style-center;
        background-image: url(../media/gato-header.jpg);}
        
        &-contacto{
        @include header-style-center;
        background-image: url(../media/perro-t3.png);
        }
        &-producto{
        @include header-style;
        background-image: url(../media/perro-t4.png);
        }

    }


#logo{ 
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
    }

.jumbotron{
        background-color: unset;
        @include roboto-white;
    }
    
h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        background-color: #212529;
        @include roboto-white;
        
}

.slider{
    margin-top: 20px;
    margin-bottom: 20px;
}

.promocion{
    padding: 0px;
    margin-bottom: 20px;
    @include flex-center-center;
    &-card{
            width: 16rem;
            @include phone{
                width: 10rem;
                margin-bottom: 5px;
            }
            @include tablet{
                width: 13rem;
                &-center{
                    display: block ruby;
                }
            }
            transition: transform 1s;
            box-shadow: 2px 2px 3px #999;
    }

    &-card:hover{
        transform: scale(1.1);}
}

.ubicacion{
       
    &-text{
        @include flex-center-center;
        font-family: 'Roboto', sans-serif;
    }

    &-iframe{
        padding-bottom: 20px;
        padding-top: 40px;
        @include flex-center-center;
    }

    &-cont{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.footer{
    
    h3{font-size: 30px;}
    background-color:black;
    @include dancing-white;
    padding-top: 50px;
    padding-bottom: 50px;
    
    &-logo{
        @include flex-column-center;
        }
    &-social{
        @include flex-center-center;
        @include phone{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    &-pago{
        @include flex-column-center;
    }

}


.contenedor{
    &-item{
        margin-top: 30px;
        margin-bottom: 30px;
        @include max-desktop{
            &:nth-of-type(3){order:2;}
            &:nth-of-type(4){order:1;}
            &:nth-of-type(7){order:4;}
            &:nth-of-type(8){order:3;}
            
    }}

    &-boton{
        @include flex-column-center;
        a{
            margin-top: 40px;
            padding: 15px;
        }
    }

    box-shadow: 10px 40px 40px #999;
    
    
   
    
}



.formulario{
    box-shadow:  5px 1px 5px #999;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

